{% extends "global/Page.html" %}

{% block title %}
    L'expérience est désormais terminée.
{% endblock %}
{% block content %}
<p> Merci de votre participation à cette expérience.</p>
<br>
<p> Pour la phase 1, les périodes suivantes ont été tirées au hasard:
    <ul>



<p> Après ajout du forfait de 3.00€, votre gain en euros est de : {{player.payoff_euros}}  euros </p>
<br>
<p> Nous préparons vos paiements </p>
<p> Merci de rester à votre place jusqu'à ce qu'on appelle votre numéro de poste. </p>
<br>

{% endblock %}
